    @import "~@fortawesome/fontawesome-svg-core/styles.css";
    @import "./fonts";

    @mixin responsive-styles {
      @media (max-width: 767px) { // Small screens
        .fridge-component {
          &__heading {
            font-size: 24px; 
          }
    
          &__subheading {
            font-size: 14px; 
          }
          &__row__cell{
            font-size: 15px;
          }
        }
        &__button {
          padding: 8px;
          font-size: 9px;
        }
        .delete-icon{
          font-size: 15px;
        }
        .add-item__button{
          padding: 10px;
          width: 50%;
          font-size: 12px;
        }
        .label-with-title,
        .label-with-date{
          font-size: 16px;
        }
        .font-size-medium,
        .font-size-small,
        .tem-count{
          font-size: 14px;
        }
        .react-datepicker__input-container input{
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    
    }
    //styles for the main block
    .fridge-component {
            text-align: center;
            @include responsive-styles;
    //styles for the <h1> element inside the block
        &__heading {
            font-weight: bold;
            margin-bottom: 20px;
            color: rgba(13, 8, 48, 0.856); 
        }
      
    //styles for the <h2> element inside the block
        &__subheading {
            font-weight: normal;
            margin-bottom: 20px;
            color: rgba(67, 55, 163, 0.856); 
        }
      
    //styles for the <table> element inside the block
        &__table {
            margin: 0 auto;
            width: 100%;
            max-width: 800px;
            margin-top: 20px;
            border-collapse: separate;
            border-spacing: 0;
            text-align: left;
            margin-top: 50px;
        }
      
    //styles for the table rows
        &__row {
            background-color: #f0f0f0;
            padding-bottom:100px;
          &:nth-child(even) {
            background-color: #f9f9f9;
            padding-bottom:100px;
          }
      
          &:hover {
            background-color: #a2dceb;
            border: #0056b3;
          }
      
    //styles for the cells (table data)
          &__cell {
            padding: 10px;
            border: none;
        &:nth-child(3) {
            padding: 8px;
            text-align: center; 
          }
          }
          .expired {
            color: rgba(226, 11, 11, 0.938); 
          }
          
          .expiring-soon {
            color: rgba(238, 241, 26, 0.836); 
          }
          
          .healthy {
            color: rgba(22, 194, 22, 0.89);
          }
        }

    // styles for the table container
        &__table-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 20px;
            gap: 10px;
        }
      }
    //style for item-count
    .item-count{
      text-align: right;
      @include responsive-styles;
    }
    // styles for the AddItem component
        .form-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          
        }
        .input-field input {
          width: 90%; 
          padding: 10px; 
          font-size: 14px; 
        }
        .form-style {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          border: 0 solid rgb(126, 124, 124);
          border-radius: 8px;
          box-shadow: 0 4px 6px rgba(7, 6, 6, 0.1);
          margin: 0 auto;
          padding: 46px;
        }
        
        .form-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        
        .input-field {
          
          margin-bottom: 15px;
          width: calc(50% - 10px);
        }
        
        label {
          display: block;
          font-weight: bold;
          color: rgba(13, 8, 48, 0.856); 
          margin-bottom: 5px; 
          @include responsive-styles;
        }
        
        input,
        .react-datepicker-wrapper {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          @include responsive-styles;
        }
        
        .react-datepicker__input-container {
          display: block;
        }
        
        .add-item__button {
          width: 100%;
          padding: 10px;
          background-color: #4caf50;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          @include responsive-styles;
        }
        
        .add-item__error-message {
          color: rgb(219, 89, 89);
          margin-top: 10px;
          @include responsive-styles;
        }
        
        .react-datepicker__input-container input {
          width: 90%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          @include responsive-styles;
        }
        .react-datepicker-wrapper {
          display: block;
        }
    //for Footer
        .footer {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #f0f0f0; 
            padding: 10px 0;
          }

    // styles for the AddItem component
      .add-item {
        max-width: 300px;
        margin: 0 auto;
        text-align: left;

    // styles for the input fields and labels
      &__input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-weight: bold;
        }

        input {
          padding: 5px;
          width: 100%; 
        }
      }

    // styles for the validation error message
      &__error-message {
        color: rgb(230, 48, 48);
      }

    // styles for the "Add Item" button
      &__button {
        padding: 10px;
        background-color: #0b70db;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        width: 50%; 
        @include responsive-styles;

        &:hover {
          background-color: #0056b3;
          @include responsive-styles;
        }
      }
    }
      .delete-icon {
        cursor: pointer;
        color: rgb(40, 45, 77);
        font-size: 18px;
        margin-left: 5px;
        @include responsive-styles;
      }

    // Spinner styles
      .spinner {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        border-top: 4px solid #3498db;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        margin: 20px auto;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .label-with-date {
      position: relative;
      display: inline-block;
    }
    
    //style for insert the image
    .label-with-date::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px; 
      transform: translateY(-50%);
      width: 16px; 
      height: 16px; 
      background-image: url("../images/alarm.png"); 
      background-size: cover;
    }

    .label-with-title::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px; 
      transform: translateY(-50%);
      width: 16px; 
      height: 16px; 
      background-image: url("../images/watermelon.png"); 
      background-size: cover;
    }

    .label-with-sun::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px; 
      transform: translateY(-50%);
      width: 16px; 
      height: 16px; 
      background-image: url("../images/sun.png"); 
      background-size: cover;
    }
    
    //Add padding to create space between the image and the label text 
    .label-with-date + label {
      padding-left: 10px; 
    }

    .label-with-title + label {
      padding-left: 10px; 
    }

    .label-with-title {
      position: relative;
      display: inline-block;
    }

    .label-with-sun {
      position: relative;
      display: inline-block;
    }

    .font-size-small {
      font-size: 14px;
    }
    
    .font-size-medium {
      font-size: 16px;
    }
    
    .font-size-large {
      font-size: 36px;
    }

    .item-color {
      color: rgba(13, 8, 48, 0.856); 
    }

    .expiry-color {
      color: rgba(114, 108, 148, 0.856); 
    }
